@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div><strong>@ViewData["sdk"]</strong></div>
    <h1>Welcome Home!</h1>
</div>


@section MySimpleSection {
    <script src="wwwroot/js/mysite.js"></script>
}