@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section MySimpleSection {
    <script src="wwwroot/js/mysite.js"></script>
}