@model BlogPosts
@{ 
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>
<h6>@Model.CreatedOn</h6>

<p>
    @Model.Description
</p>

<a class="my-link" asp-action="Index" asp-controller="Blog">Back</a>