@model BlogPosts
@{ 
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>
<h6>@Model.CreatedOn</h6>

<p>
    @Model.Description
</p>

@* @Html.ActionLink("Back", "Index", "Blog", null, new { @class = "my-label-class", @id = "myId" }) *@

<a class="my-label-class" asp-action="Index" asp-controller="Blog">Back</a>